<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>PetSuit | Pet Mating Website</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    </head>
    <body>
        <div class="header">


        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/pet logo white.png" width="120px">
                </div>
                <nav>
                    <ul id="Menuitems">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Why should humans<br>have All the fun !</h1>
                    <p>An Exclusive Platform for your Pets to find their Perfect Mate</p>
                    <a href=""class="btn">Get Started &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/img1.png">
                </div>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3"><img src="images/dog1.png">
                    <h2>DOG</h2>
                </div>
                <div class="col-3"><img src="images/cat2.png">
                    <h2>CAT</h2>
                </div>
                <div class="col-3"><img src="images/rab3.png">
                    <h2>RABBIT</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h2>Finding a breeding mate or a playmate for socializing with your pet should not be a challenge.<br>         Connecting adopters with pets to be re-homed is the best thing we can do.</h2>
        <a href=""class="btn">Find Your Best Match &#8594;</a>
    </div>
    
    <div class="col-5">
        <h2>Petsuit is soo easy...</h2>
    </div>
    
    <div class="content-6">
        <div class="small-container">
            <div class="row">
               
                <div class="col-6"><img src="images/app final.png">
                    <h2>STEP-1</h2>
                </div>
                <div class="col-6"><img src="images/app final.png">
                    <h2>STEP-2</h2>
                </div>
                <div class="col-6"><img src="images/app final.png">
                    <h2>STEP-3</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <a href=""class="btn">Get Started &#8594;</a>
    </div>
    <div class="testimony">
        <div class="small-container">
            <div class="row">
                <div class="col-10">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                    </div>
                    <img src="images/user-1.png">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-10">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                    </div>
                    <img src="images/user-2.png">
                    <h3>Lara Telson</h3>
                </div>
                <div class="col-10">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                    </div>
                    <img src="images/user-3.png">
                    <h3>John Britoi</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-9">
        <h1>Your pet Needs Your Help!</h1>
        <p>Yes, Please help them register their profile and talk to other humans</p>
        <a href=""class="btn">Register Now &#8594;</a>
    </div>
   <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios Mobile phone</p>
                <div class="app-logo">
                    <img src="images/app-store.png">
                    <img src="images/play-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/pet logo white.png">
                <p>A para about the website</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliates</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            
        </div>
        <hr>
        <p class="copyright"></p> Copyright 2022- Shebin S</p>
    </div>
   </div> 
    <script>
        var Menuitems =document.getElementById("Menuitems");
        Menuitems.style.maxHeight ="0px";
        function menutoggle(){
            if(Menuitems.style.maxHeight =="0px")
            {
                Menuitems.style.maxHeight ="200px";
            }
            else{
                Menuitems.style.maxHeight ="0px";
            }
        }

    </script>
     </body>
</html>